################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/YuBanWeb/v17
/.vs
/test.html
/模板.html
js/all pages.js
.gitignore
/BakeDates
/py